= provide(:title, "Sign up")
.row
  .col-6.col-offset-3
    %h3 Sign up
    = form_for(@user) do |f|
      = render "shared/error_messages"

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo.form-field.row
        = f.email_field :email, class: "mdl-textfield__input form-control"
        = f.label :email, class: "mdl-textfield__label"

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo.form-field.row
        = f.password_field :password, class: "mdl-textfield__input form-control"
        = f.label :password, class: "mdl-textfield__label"

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo.form-field.row
        = f.password_field :password_confirmation, class: "mdl-textfield__input form-control"
        = f.label :password_confirmation, "Confirm password", class: "mdl-textfield__label"

      .form-field.submit-wrapper.row
        = f.submit "Create", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pad-small-button"
    %p
      Already have an account?
      = link_to "Log in now!", login_path