= provide(:title, "Sign up")
.row
  .col-4.col-offset-4
    %h3 Sign up
    = form_for(@user) do |f|
      = render "fields", f: f
      .form-field.submit-wrapper.row
        = f.submit "Create", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pad-small-button"
    %p
      Already have an account?
      = link_to "Log in now!", login_path