.site
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    %header.mdl-layout__header
      .mdl-layout-icon
      .mdl-layout__header-row
        / Title
        %span.mdl-layout-title= application_title
        / Spacer to align nav to right
        .mdl-layout-spacer
        / Navigation
        - if logged_in?
          %nav.mdl-navigation
            %img#user-menu{:src => "/images/default_photo.png", :class => "mdl-button mdl-js-button mdl-button--icon"}
            .user-dropdown{:for => "user-menu", :class => "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"}
              %p= current_user.email
              %ul
                %li.mdl-menu__item
                  %a.mdl-navigation__link{:href => '#'}User
                %li.mdl-menu__item
                  = link_to "Log out", logout_path, method: "delete", class: "mdl-navigation__link"
    - if logged_in?
      .mdl-layout__drawer
        %span.mdl-layout-title= application_title
        %nav.mdl-navigation
          %a.mdl-navigation__link{:href => releases_path}New Releases
          %a.mdl-navigation__link{:href => subscriptions_path}Subscriptions
          %a.mdl-navigation__link{:href => settings_path}Settings
    %main.mdl-layout__content
      .page-content
        - flash.each do |msg_type, msg|
          .alert{:class => "alert-#{msg_type}"}= msg
        = yield
        = render 'layouts/footer'
        = debug(params) if Rails.env.development?